@{
    ViewBag.Title = "About Us";
}
<body class="aboutindex">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Uber Galactic was founded in December 2018. Our founder had always wanted to travel throughout space and decided to share it with the world!<br />
    Welcome to Uber Galactic! We hope you enjoy the ride.</p>

</body>