@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Uber Galactic HQ<br />
    Indianapolis, IN<br />
    U.S.A., North America<br />
    Planet Earth Division, Milky Way Galaxy<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@ubergalactic.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@ubergalactic.com</a>
</address>