@{
    ViewBag.Title = "Home Page";
}
<body class="homeindex">
    <h1>OOBER GALACTIC</h1>
    <p class="lead">Oober Galactic is the future of travel. Imagine being able to travel throughout the universe!</p>


    <div class="row">
        <div class="col-md-4">
            <h2>Fly with us!</h2>
            <p>
                Come fly with us as we travel through the heavens! Gain experience flying spaceships and earn money.
            </p>
            @Html.ActionLink("Fly", "Index", "Driver", null, htmlAttributes: new { @class = "btn btn-info" })

        </div>
        <div class="col-md-4">
            <h2>Take a ride through space</h2>
            <p>Need a ride to another planet? Or elswhere within the galaxy? How about visiting another galaxy? Our Drivers are ready to take you wherever you want to go!</p>
            @Html.ActionLink("Ride", "Index", "Rider", null, htmlAttributes: new { @class = "btn btn-info" })
        </div>
        <div class="col-md-4">
            <h2>About</h2>
            <p>Learn more about us.</p>
            @Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class = "btn btn-info" })
        </div>
    </div>
</body>