body {
    font-size: 17px;
    color: whitesmoke;
   
    padding-top: 50px;
    padding-bottom: 20px;
}

.homeindex {
    text-align: center;
    background: url('images/cosmos-infinity-galaxy-constellation-dark-star-3608029.jpg') center 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.riderindex {
    color:whitesmoke;
    background: url('Images/star-trails-in-the-sky-during-perseid-meteor-shower.jpg') center 30%;
}
.contactindex {
    color:whitesmoke;
    background: url('Images/NASA-Apollo8-Dec24-Earthrise.jpg') center 57%;
    background-repeat: no-repeat;
}
.navbar {
    background: url('Images/star-trails-in-the-sky-during-perseid-meteor-shower.jpg');
    font-size: 22px;
    color:navajowhite;
    margin:0px;
    padding:5px;
}
.aboutindex {
    font-size: 25px;
    color:whitesmoke;
    background: url('Images/moon-rising-on-a-purple-sky.jpg');
}
.col-md-4{
    margin-top:1px;
}
.col-md-3{

}
.col-md-5{

}
